//Muente
$fuentePrimario: 'Bona Nova', serif; //400 700
$fuenteLogo: 'Dancing Script', cursive; // 400 700
$fuenteSecundario: 'Raleway', sans-serif; // 400 700 900

//Media querie
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primario: #5e311e;
$secundario: #c39c63;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;
$cafeClaro: #B6AD90;
$azul:#014F86;
$azulClaro:#61A5C2;

//Unidades
$separacion: 5rem;

